[% WRAPPER wrapper.tmpl %]


<center>
    <h1>Where do you want to build today?</h1>
    <br />
    <br />
    <div id="region_links" style="font-size:1.5em;width:20em;">
        [%- FOREACH region IN region_list %]
            [%- IF region.configured %]
                <a style="margin-left:2em;margin-right:2em;" href="/list/[% region.path_name %]">[% region.regionname_html %]</a>
            [%- END %]
        [%- END %]
        <br /><br />
    </div>
    <br />
</center>


[% END %]
