body {
    background-color: #2D2D37;
    color: #FFFFFF;
    font-family: Tahoma;
    font-size: 0.9em;
}

a { color: #ff8a00; }

a:visited { color: #ff8a00; }

th {
    padding:2px 5px;
    white-space:nowrap;
    text-align:center;
    border:1px solid gray;
}

td {
    border:1px solid gray;
    padding-top: 2px;
    padding-right: 5px;
    padding-bottom: 1px;
    padding-left: 5px;
    text-align:right;
    font-size: 1em;
}

.name {
    text-align:left;
}

#asset_table {
    border-collapse:collapse;
    border:1px solid gray;
    font-size: 0.75em;
}

.log {
    font-size: 0.8em;
    font-family: Courier New;

}

.container {
    background-color: #3F3F4D;
}

.setting_box {
    padding: 0.25em;
    margin: 0.25em;
    float:left;
}



.tableRollOverEffect1{
    background-color:#317082;
    color:#FFF;
}

.tableRollOverEffect2 {
    background-color:#000;
    color:#FFF;
}

.tableRowClickEffect1 {
    background-color:#F00;
    color:#FFF;
}
.tableRowClickEffect2 {
    background-color:#00F;
    color:#FFF;
}


.in_progress {
    background-color: yellow;
}

.unresearched {
    background-color: red;
}

.done {
    background-color: green;
}

/* tables */
table.tablesorter thead tr .header {
    cursor: pointer;
}

.green_bar {
    line-height:2px;font-size:2px;height:2px;background-color:#00FF00;margin-top:2px;border-spacing:0px;
}

.red_bar {
    line-height:2px;font-size:2px;height:2px;background-color:#FF0000;margin-top:0px;border-spacing:0px;
}




.ui-draggable .ui-dialog-titlebar {
    text-align:center;
}

.ui-dialog .ui-dialog-title {
    float:none;
}

.ui-widget-content {
    background: #2D2D37;
    color: #FFFFFF;
}
