[% WRAPPER wrapper.tmpl %]

<center>
<h1><a href="/list">Production</a></h1>
Which item has the highest profit margins,<br />
which gives the highest ROI,<br />
which makes the most ISK per day?<br />
<br />
All that and more answered here.
</center>

[% user_name %]


[% END %]