body {
    background-color: #2D2D37;
    color: #FFFFFF;
    font-family: Tahoma;
}

a { color: #ff8a00; }

a:visited { color: #ff8a00; }

th {
    padding:2px 5px;
    white-space:nowrap;
    text-align:center;
}

td {
    border:1px solid gray;
    padding:2px 5px;
    white-space:nowrap;
    text-align:right;
    font-size: 0.8em;
}

.name {
    text-align:left;
}

#asset_table {
    border-collapse:collapse;
    border:1px solid gray;
    font-size: 0.8em;
}

.log {
    font-size: 0.8em;
    font-family: Courier New;

}

.container {
    background-color: #3F3F4D;
}

.setting_box {
    padding: 0.25em;
    margin: 0.25em;
    float:left;
}

.main {
    margin: auto;
    width: 35em;
}

.parameter {
    font-size: 1.2em;
    font-weight: bold;
}